@import '../../../assets/variables';
.separator-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem 1rem 1rem;
  .diamond {
    transform: rotate(45deg);
    margin: 0 0.5rem;
    background-color: $background-color;
    height: 1rem;
    width: 2.4rem;
    .inner-diamond {
      height: 0.4rem;
      width: 0.4rem;
      background-color: $background-color;
      border: 2px solid white;
    }
  }
  .separator {
    background-color: $background-color;
    height: 1px;
    transform: translate(0, 0.4rem);
    width: 100%;
  }
}

@media (min-width: 800px) {
  .separator-container {
    display: none;
  }
}
