@import "../../../../../assets/variables";
.player-health-container {
  display: flex;
  font-weight: $font-weight-default;
  justify-content: space-between;
  margin: 1rem;
  .player-ac {
    padding: 0.25rem;
    height: 4rem;
    width: 4rem;
    .ac {
      color: white;
      font-size: 1.25rem;
      position: relative;
      bottom: 3rem;
      left: 1.25rem;
    }
  }
  .player-health, .player-hit-die {
    height: 4rem;
    width: 30%;
  }
  .player-health {
    .health, .max-health {
      box-shadow: $box-shadow-default;
      background-color: $color-base;
      color: $color-font-default;
      margin: 0.25rem;
    }
    .health {
      padding: 0.25rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-grow: 2;
    }
    .max-health {
      display: flex;
      justify-content: space-around;
      text-align: center;
      flex-grow: 1;
      .small-font {
        position: relative;
        top: 0.25rem;
      }
    }
  }
  .small-font {
    font-size: 0.5rem;
  }
  .player-hit-die {
    text-align: center;
    .hit-roll-die-container {
      background-color: $color-base;
      box-shadow: $box-shadow-default;
      padding: 5px;
      display: flex;
      flex-direction: column;
      margin: 0;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .hit-die-roll, .hit-die-title {
      color: $color-font-default;
    }
  }
}

.player-health-container.debug {
  background-color: $color-debug-layer-1;
  .player-ac, .player-health, .player-hit-die {
    background-color: $color-debug-layer-2;
    .health, .max-health, .hit-roll-die-container  {
      background-color: $color-debug-layer-3;
    }
  }
}
