<app-center-layout>
  <dwc-card subject="">
    <dwc-input (valueChange)="updateText($event, 'username')" [ngClass]="clicked ? 'slide-right' : 'slide-left'" class="fade" label="Username"></dwc-input>
    <dwc-input (valueChange)="updateText($event, 'password')"  type="password" [ngClass]="clicked ? 'slide-right' : 'slide-left'" class="fade" label="Password"></dwc-input>
    <dwc-button [ngClass]="clicked ? 'slide-right' : 'slide-left'" class="fade" block (click)="registerUser()" >Register</dwc-button>
    <div [ngClass]="clicked ? 'slide-right' : 'slide-left'" class="fade te"><span class="hyperlink" (click)="navigateHome()">Back</span></div>
  </dwc-card>
</app-center-layout>
