@import "../../../../../assets/variables";
.player-sheet {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  .player-avatar {
    img {
      margin: 0;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    padding: 0.25rem;
  }
  .player-container {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem;
    flex-grow: 2;
    .player-name, .player-class, .player-xp {
      box-sizing: border-box;
      background-color: $color-base;
      box-shadow: $box-shadow-default;
      color: $color-font-default;
      display: flex;
      margin-bottom: 0.25rem;
      p {
        font-weight: $font-weight-default;
        line-height: 0.25rem;
        margin-left: 1rem;
        text-align: center;
      }
    }
  }
}
@media (min-width: 325px) {
  .player-sheet {
    .player-avatar, .player-container {
      .player-name, .player-class, .player-xp {
        p {
          line-height: 0.5rem;
        }
      }
    }
  }
}

.player-sheet.debug {
  .player-container {
    background-color: $color-debug-layer-1;
    .player-name, .player-xp, .player-class {
      background-color: $color-debug-layer-2;
      p {
        color: $color-font-default;
      }
    }
  }
  .player-avatar {
    background-color: lightblue;
  }
}
