mat-toolbar {
  background-color: white;
  color: #50bc91;
}
.spacer {
  flex: 1 1 auto;
}

.player {
  display: flex;
  flex-direction: column;
}


@media (min-width: 800px) {
  .player {
    flex-direction: row;
  }
  app-player-sheet, app-player-health {
    flex-grow: 1;
  }
  app-player-health {
    transform: translateY(10px);
  }
}
