/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/monomer/dist/monomer/monomer.css";
@import "assets/variables";

html, body {
  margin: 0 auto;
  background-repeat: no-repeat;
  height: 100vh;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #0277BD;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #0277BD;
}

.info-card {
  border-left: 3px solid;
  border-color:$color-font-default;
}

.center-content {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.class-icon {
  position: relative;
  top: 6px;
  margin-left: 5px;
  height: 25px;
  width: 25px;
}

dwc-card {
  dwc-input.slide-right {
    animation: slide-right 0.5s forwards;
  }
  dwc-button.slide-right {
    animation: slide-right 0.5s forwards;
  }
  div.slide-right {
    animation: slide-right 0.5s forwards;
  }
  dwc-input.slide-left {
    position: relative;
    left: 300px;
    animation: slide-left 0.5s forwards;
  }
  dwc-button.slide-left {
    position: relative;
    left: 300px;
    animation: slide-left 0.5s forwards;
  }
  div.slide-left {
    position: relative;
    left: 300px;
    animation: slide-left 0.5s forwards;
  }
  .fade {
    animation: fade 0.3s forwards;
  }
}

@media (max-width: 425px) {
  dwc-input.slide-left {
    position: relative;
    left: 425px;
    animation: slide-left 1s forwards;
  }
  dwc-button.slide-left {
    position: relative;
    left: 425px;
    animation: slide-left 1s forwards;
  }
  div.slide-left {
    position: relative;
    left: 425px;
    animation: slide-left 1s forwards;
  }
}

.hyperlink {
  cursor: pointer;
  text-decoration: underline;
}
.hyperlink:hover {
  color: #50bc91;
}
.hyperlink:focus {
  outline: none;
  color: black;
}

.tc {
  text-align: center;
}

.te {
  text-align: end;
}

@keyframes fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slide-right {
  from {
    transform: translateX(0px);
  } to {
    transform: translateX(300px);
  }
}

@media (max-width: 425px) {
  @keyframes slide-right {
    from {
      transform: translateX(0px);
    } to {
        transform: translateX(425px);
      }
  }
  @keyframes slide-left {
    from {
      transform: translateX(0px);
    } to {
        transform: translateX(-425px);
      }
  }
}

@keyframes slide-left {
  from {
    transform: translateX(0px);
  } to {
      transform: translateX(-300px);
    }
}
